mat-grid-tile {
    background: rgb(32, 24, 63);
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    box-shadow: 10px 3px 10px rgba(178, 186, 206, 0.767);
    font-weight: 400;
    font-size: 25px;
    width: fit-content;
    // padding: 5px;
}

.main-container {
    display: flex;
}

.input-container {
    width: 75%;
    flex-direction: row;
}

.input-contents-container {
    flex-direction: column;
    margin: 5px;
    height: max-content;
    padding: 10px;
    border: 0.5px solid rgba(29, 54, 124, 0.767);
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba(29, 54, 124, 0.767);
}

.sentence-container {
    width: 25%;
    // height: 10vh;
    flex-direction: row;
    border: 0.5px solid rgba(94, 14, 97, 0.767);
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba(154, 77, 156, 0.767);
    margin: 5px;
}

.container-header {
    position: relative;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-header-prediction {
    position: relative;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    font-weight: 500;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.predicted-output {
    position: relative;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.sentence-display {
    margin: 10px;
}

.undo-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.input-full-width {
    // width: 100%;
    margin: 10px;
    display: block;
}


.chat-container {
    max-height: 25vh;
    display: block;
    overflow-y: scroll;
    .message-local {
        position: relative;
        max-width: 45%;
        padding: 5px 10px;
        margin: 0.3em 2em;
        color: white;
        background: rgb(32, 24, 63);
        border-radius: 25px;
        float: left;
        clear: both;

        &:before {
            content: ' ';
            height: 0;
            position: absolute;
            width: 0;
            border: .6em solid transparent;
            /* arrow size */
            border-right-color: rgb(32, 24, 63);
            /* arrow color */
            /* positioning */
            position: absolute;
            bottom: 15px;
            left: -1em;

        }
    }
}

::ng-deep .mat-mdc-standard-chip {
     
        color: white;
        background-color: rgb(32, 24, 63);

}