<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
	<div class="chat-history-container">
		<div class="chat-history-header">
			<span style="margin-top: 10px;">Chat History</span>
		</div>
		<div *ngFor="let sentence of sentenceLog" class="customer_log message__text_log">
			<span>{{sentence}}</span>
		</div>
	</div>
	<div class="user-input-container">
		<div class="sentence-prediction-container">
			<div class="loading-container">
			<div class="loading-wave" *ngIf="sentencePredictionLoading">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
			</div>
			<!-- <div *ngIf="!sentencePredictionLoading" style="display: flex; flex-direction: column;"> -->
				<div *ngFor="let sentencePrediction of sentencePredictions" class="customer message__text"
					(click)="onSentenceClick(sentencePrediction)">
					<span>{{sentencePrediction}}</span>
				</div>
			<!-- </div> -->

		</div>

		<div class="word-prediction-container">
			<div class="loading-wave" *ngIf="wordPredictionLoading">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
			<!-- <div *ngIf="!wordPredictionLoading"> -->
			<button mat-button class="word-button" *ngFor="let wordPrediction of wordPredictions"
				(click)="onWordClick(wordPrediction)">{{wordPrediction}}</button>
			<!-- </div> -->
		</div>

		<div class="input-container">
			<input onkeydown="return false" class="input" value={{sentence}}
				placeholder="Blink to start typing..." />
		</div>
		<div class="simple-keyboard"></div>
	</div>
</div>