ul {
  text-align: center;
}

input {
  width: 100%;
  height: 50px;
  // padding: 20px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  box-sizing:content-box;
}
input:focus, textarea:focus{
  outline: none;
}



.simple-keyboard {
  width: 98%;
  /* Adjust width as needed */
  height: 45%;
  /* Increase height */
  padding: 10px;
  // margin-top: 10px;
  border: 0.5px solid rgba(10, 11, 12, 0.767);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 1px 3px 10px rgba(29, 54, 124, 0.767);
  // margin-top: 50px;
}

::ng-deep .hg-theme-default .hg-button.hg-standardBtn {
  // width: 20px;
  height: 50px;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

::ng-deep .hg-theme-default .hg-row {
  margin-top: 20px;
}

::ng-deep .hg-theme-default .hg-button.hg-functionBtn {
  width: 50px;
  height: 50px;
  font-size: large;
  font-weight: bolder;
}

.word-prediction-container {
  display: flex;
  height: 10%;
  // border: 2px solid red;
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border: 0.5px solid rgba(10, 11, 12, 0.767);
  border-radius: 10px;
  box-shadow: 1px 3px 10px rgba(29, 54, 124, 0.767);
  // border: 1px solid red;
  justify-content: space-around;
  align-items: center;
}

.input-container {
  // height: auto;
  width: 96%;
  padding: 10px;
  margin-top: 10px;
  border: 0.5px solid rgba(10, 11, 12, 0.767);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 1px 3px 10px rgba(29, 54, 124, 0.767);
}

.user-input-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 73.5vw;
  height: calc(100vh - 100px + 10px);
  // border: 1px solid red;
}

.chat-history-container {
  width: 23vw;
  border: 0.5px solid rgba(10, 11, 12, 0.767);
  border-radius: 10px;
  box-shadow: 1px 3px 10px rgba(29, 54, 124, 0.767);
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  margin-right: 10px;

}

.chat-history-header {
  // width: 100%;
  // height: 50px;
  background-color:rgb(32, 26, 26);
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 10px;
}

.sentence-prediction-container {
  height: 38%;
  width: 98%;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  // overflow-y: scroll;
  // border: 1px solid blue;
  padding: 10px;
  border: 0.5px solid rgba(10, 11, 12, 0.767);
  border-radius: 10px;
  box-shadow: 3px 2px rgb(142 157 199 / 77%);
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 92vh;
  margin: 10px;
}

.chat-container {
  // max-height: 25vh;
  height: 38%;
  display: flex;
  font-size: 20px;
  overflow-y: scroll;

  .message-local {
    position: relative;
    // max-width: 45%;
    padding: 5px 10px;
    margin: 0.3em 2em;
    color: white;
    background: rgb(18, 18, 20);
    border-radius: 25px;
    float: left;
    clear: both;

    &:before {
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      border: .6em solid transparent;
      /* arrow size */
      border-right-color: rgb(23, 22, 29);
      /* arrow color */
      /* positioning */
      position: absolute;
      bottom: 15px;
      left: -1em;

    }
  }
}

.chat {
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 300px 500px;
  background-repeat: repeat;
}

.message__text {
  border-radius: 20px;
  padding: 8px 15px;
  margin: 5px 10px;
  width: 100px;
  height: 100px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  // border: 1px solid green;
}

.message__text_log {
  border-radius: 20px;
  padding: 8px 15px;
  margin: 5px 10px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5em;
  // border: 1px solid green;
}

.customer_log {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  background: #eee;
  // border: 1px solid red;
}

.customer {
  display: flex;
  width: auto;
  flex-direction: row;
  // justify-content: center;
  background: #eee;
  // border: 1px solid red;

}

.message__text.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.message__text.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 300px 500px;
  background-repeat: repeat;
  border-bottom-right-radius: 10px;
}

.team.message__text {
  margin-left: 25%;
  background: #dcf8c6;
  position: relative;
}

.team.message__text.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #dcf8c6;
  border-bottom-left-radius: 15px;
}

.team.message__text.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 300px 500px;
  background-repeat: repeat;
  border-bottom-left-radius: 10px;
}

// word prection buttons css
/* From Uiverse.io by cssbuttons-io */ 
.word-button {
  // display: inline-block;
  padding: 12px 24px;
  margin: 5px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  // width: 40px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 30px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.word-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.word-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #94e651;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.word-button:hover {
  color: #030303;
  border: 1px solid #94e651;
}

.word-button:hover:before {
  top: -35%;
  background-color: #94e651;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.word-button:hover:after {
  top: -45%;
  background-color: #94e651;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

// loader 
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(32, 26, 26);
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
